body {
    font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 3% 15%;
  opacity: 95%;
  background-color: #365c80;
}

.form-title {

  font-weight: bold;
  font-size: 4em;
  color: white;
  padding: 3%;
}

.btn {
  border-radius: 20px;
  height: 100px;
  margin: 5px auto 5px auto;
  background-color: #ffffff;

  font-size: 1.8rem;
}

.btn:hover{
  opacity: .5;
}


a {
  color: black;
}
